.head{
    text-align: center;
    background-color: rgb(36, 42, 44);
    color: #32cd32;
}
.flex{
    display: flex;
    background-color: white;
    border-radius: 50px;
    border: 5px solid #0b0b0b;
    padding-bottom: 30px;
}
.flexdown{
    display: flex;
    flex-direction: column;
}
.flex:hover{
 background-color: #b6f19f;
}
.img4{
    height: 300px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    /*mix-blend-mode:color-burn;*/
    mix-blend-mode: multiply;
}
.heading1{
    text-align: center;
}
.name1{
    padding-left: 200px;
}
.para1{
    padding-left: 150px;
    padding-top: 50px;
}
.amount{
    padding-top: 100px;
    padding-left: 170px;
}
.amount1{
    padding-top: 100px;
    color: #181d29;
}
.name3{
    padding-left: 300px;
}
.body{
    background-color: aliceblue;
}
.bot{
    background-color: #32cd32;
    color: #181d29;
    height: 50px;
    width: 100px;
    font-weight: bolder;
    border-radius: 10px;
}
.end{
	padding: 20px 15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}
.top i{
	padding: 10px;
	border-radius: 8px;
	font-size: 15px;
	color:  #fff;
	background-color:#32cd32;
}
.rupee{
  padding-left: 1000px;
}
.rating{
    padding-left: 520px;
}
.bio{
    text-align: center;
}